
.footer.container
  .footer--company-information
    = link_to root_path do
      = image_tag "logos/logo-new.svg", :class => "footer--company-logo", :rel => "Rescue Tech Health and Safety Services"

  .footer--links
    = link_to "Course Offerings", courses_path
    = link_to "About Us", about_path


  = render "partials/social"
