
- content_for :title do
  = @page["metadata"]["title"]

- content_for :description do
  = truncate strip_tags(@page["content"]), :length => 150

.container.course
  .course--description
    %h1.card= @page["metadata"]["title"]
    .course--body= render :html => @content


  .course--details
    - if @page["metadata"]["topics"]
      .course--detail
        %label Course Topics
        - if @page["metadata"]["prerequisites"].length > 1
          %ul.course--detail-list
            - @page["metadata"]["topics"].each do |topic|
              %li= topic

        - else
          = @page["metadata"]["topics"][0]

    - if @page["metadata"]["prerequisites"]
      .course--detail
        %label Prerequisites
        - if @page["metadata"]["prerequisites"].length > 1
          %ul.course--detail-list
            - @page["metadata"]["prerequisites"].each do |value|
              %li= value.html_safe

        - else
          = @page["metadata"]["prerequisites"][0].html_safe


    - if @page["metadata"]["duration"]
      .course--detail
        %label Course Duration
        = @page["metadata"]["duration"]


    - if @page["metadata"]["requirements_met"]
      .course--detail
        %label Meets Requirements For
        - if @page["metadata"]["requirements_met"].length > 1
          - @page["metadata"]["requirements_met"].each do |requirement|
            %ul.course--detail-list
              - if requirement.is_a?(String)
                %li= requirement
              - else
                - requirement.each do |key, value|
                  %li= key + " " + value.join(", ")

        - else
          - requirement = @page["metadata"]["requirements_met"][0]
          - if requirement.is_a?(String)
            = requirement
          - else
            - requirement.each do |key, value|
              = key + " " + value.join(", ")


.container
  .course-cta
    .course-cta--copy
      This class can be taught at your location, or join us at an open-enrollment class.
    = link_to "/", :class => "button m-white course-cta--button" do
      Get a Quote!
