!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    
    %script(async src="https://www.google-analytics.com/analytics.js")

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = render "partials/meta"

  %body
    = render "partials/navigation"

    .content= yield

    = render "partials/footer"
